<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="jpg" href="https://i.etsystatic.com/15492164/r/il/c68c58/1537451425/il_570xN.1537451425_hsx7.jpg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
    <img src="https://i.etsystatic.com/15492164/r/il/c68c58/1537451425/il_570xN.1537451425_hsx7.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
    Gossip Project
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Accueil <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/team">Team</a>
          <a class="nav-item nav-link" href="/contact">Contact</a>
        </div>
      </div>
    </nav>
    <title>GossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
